<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- Create a div with an ID for the agent to render into -->
<div id="my-agent-container"></div>

<script type="module"
      src="https://agent.d-id.com/v2/index.js"
      data-mode="full"
      data-client-key="bGlua2VkaW58amJzQ0MyNFZyMjpzYjhFQ3BjZzNPN0xEZkN4eVl5dGk="
      data-agent-id="v2_agt_CZfB22E7"
      data-name="did-agent"
      data-monitor="true"
      data-target-id="my-agent-container">
</script>
